*{
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding: auto;
}

.obligatorio input{
    background-color: lightblue;
}
.obligatorio textarea{
    background-color: lightblue;
}
.obligatorio select{
    background-color: lightblue;
}
.obligatorio label{
    text-decoration: underline;
}
.error{
    background-color: #ff708c;
    transition: 10s;
    width: 10%;
    padding: 0.5%;
    border-radius: 10%;
}

.h2{
    margin-top: 50px;

}

#enviar{
    width: 200px;
    background: aqua;
    height: 30px;
}

#buscar{
    height: 30px;
    width: 400px;
}

caption{
    font-size: 30px;
    color: red;
}
th{
    background: aqua;
}

td{
    padding: 5px;
}
